<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="turnOnLights" default-destroy-method="turnOffLights">

    <bean id="duke" class="com.springinaction.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="sonnet29" class="com.springinaction.springidol.Sonnet29"></bean>

    <bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.springinaction.springidol.Ticket" scope="prototype"/>

    <bean id="auditorium" class="com.springinaction.springidol.Auditorium"
    init-method="turnOnLights" destroy-method="turnOffLights"/>
</beans>